table.purchase {
border-collapse: collapse;
width: 100%;
}

table.purchase td {
border: 1px solid #d4d4d4;
padding: 5px;
padding-top: 7px;
padding-bottom: 7px;
vertical-align: top;
}

table.certificate {
border-collapse: collapse;
width: 100%;
font-size: 90%;
}

table.certificate td {
border: 1px solid #d4d4d4;
padding: 5px;
padding-top: 7px;
padding-bottom: 7px;
vertical-align: top;
font-size: 90%;
}

table.filter {
width: 100%;
font-size: 90%;
}

table.filter td {
border: 0px;
padding: 1px;
padding-top: 2px;
padding-bottom: 2px;
vertical-align: top;
font-size: 90%;
}

table.verification {
width: 100%;
font-size: 100%;
}

table.verification td {
border: 0px;
padding: 5px;
padding-top: 8px;
padding-bottom: 8px;
vertical-align: top;
font-size: 100%;
}

.ver_message {
  text-align: center;
  font-size: 120%;
  color: red;   
}

cci.container {
    padding-top: 10px;
    margin-left: 50px;
    width: 700px;
}

cci.form-horizontal {
    width: 100%;
}

input[type="text"] {
    height: 18px;
}

input[type="checkbox"] {
    height: 12px;
    font-weight: normal;
}

label {
	height: 11px;
	font-weight: normal;
}

cci.navbar cci.nav > li > a {
    color: #000000;
}

cci.form-horizontal cci.control-label {
    text-align: left;
}


cci.error {
	color: #ff0000;
}
 
cci.errorblock {
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}

cci.ui-menu { width: 150px; }


cci.loginbox {
    background-color: grey;
    margin:auto;
    width: 280px;
    height: 96px;
    border: 1px solid;
}

.ccielement 
{margin: 4px; font-size:100%;vertical-align:middle}

.body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.grp_title {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}


